@import "./node_modules/tailwindcss/dist/tailwind.min.css";
@import "./node_modules/@glidejs/glide/dist/css/glide.core.min.css";
@import "./node_modules/@glidejs/glide/dist/css/glide.theme.min.css";

html,
body {
    font-size: 16px;
}

body {
    background-color: #bfffe3;
}

span.btn {
    color: white;
}

svg {
    fill: none;
    stroke: white;
    stroke-width: 1.5;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.btn,
.bright-preview,
footer {
    background-color: #2e2e00;
}

.dark-preview {
    background-color: #bfffe3;
}

.dark-preview .glide__arrow {
    box-shadow: none !important;
    border: none !important;
    color: white;
    opacity: 0.5 !important;
}

.dark-preview .glide__bullet {
    background-color: white;
}

.dark-preview .glide__bullet:hover {
    background-color: black;
    border: 2px solid white;
}

.dark-preview .glide__bullet--active {
    background-color: black;
}

.bright-preview .glide__arrow {
    box-shadow: none !important;
    border: none !important;
    color: black;
    opacity: 0.5 !important;
}

.bright-preview .glide__bullet {
    background-color: black;
}

.bright-preview .glide__bullet:hover {
    background-color: white;
    border: 2px solid black;
}

.bright-preview .glide__bullet--active {
    background-color: white;
}

.glide__arrow--right {
    right: 1em !important;
}

.glide__arrow--left {
    left: 1em !important;
}
