@import "./node_modules/tailwindcss/dist/tailwind.min.css";
@import "./node_modules/@glidejs/glide/dist/css/glide.core.min.css";
@import "./node_modules/@glidejs/glide/dist/css/glide.theme.min.css";

html,
body {
    font-size: 16px;
}

body {
    background-color: #bfffe3;
}

span.btn {
    color: white;
}

svg {
    fill: none;
    stroke: white;
    stroke-width: 1.5;
    stroke-linecap: round;
    stroke-linejoin: round;
}

@media (min-width: 25em) {
    .left-float {
        float: left;
    }
}

.theme-block {
    width: 10em;
}

@media (min-width: 25em) {
    .theme-block {
        width: 22em;
    }
}

@media (min-width: 30em) {
    .theme-block {
        width: 28em;
    }
}

@media (min-width: 40em) {
    .theme-block {
        width: 34em;
    }
}

@media (min-width: 45em) {
    .theme-block {
        width: 40em;
    }
}

@media (min-width: 50em) {
    .theme-block {
        width: 46em;
    }
}

.color-block {
    display: grid;
    grid-template-columns: repeat(1, 6em);
    grid-auto-rows: 6em;
}

@media (min-width: 25em) {
    .color-block {
        grid-template-columns: repeat(2, 6em);
    }
}

@media (min-width: 30em) {
    .color-block {
        grid-template-columns: repeat(3, 6em);
    }
}

@media (min-width: 40em) {
    .color-block {
        grid-template-columns: repeat(4, 6em);
    }
}

@media (min-width: 45em) {
    .color-block {
        grid-template-columns: repeat(5, 6em);
    }
}

@media (min-width: 50em) {
    .color-block {
        grid-template-columns: repeat(6, 6em);
    }
}

.color-scale {
    display: grid;
    grid-template-columns: repeat(1, 6em);
    grid-auto-rows: 2em;
}

.sub-color-block {
    display: grid;
    grid-template-columns: repeat(3, 2em);
    grid-auto-rows: 2em;
}

.sub-color-block div,
.color-scale div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.dark-preview {
    background-color: #bfffe3;
}

.btn,
.bright-preview,
.dark-theme,
footer {
    background-color: #2e2e00;
}

.dark-preview .glide__arrow {
    box-shadow: none !important;
    border: none !important;
    color: white;
    opacity: 0.5 !important;
}

.dark-preview .glide__bullet {
    background-color: #bfffe3;
}

.dark-preview .glide__bullet:hover {
    background-color: #bfffe3;
    border: 2px solid white;
}

.dark-preview .glide__bullet--active {
    background-color: white;
}

.bright-preview .glide__arrow {
    box-shadow: none !important;
    border: none !important;
    color: black;
    opacity: 0.5 !important;
}

.bright-preview .glide__bullet {
    background-color:#2e2e00;
}

.bright-preview .glide__bullet:hover {
    background-color: white;
    border: 2px solid #2e2e00;
}

.bright-preview .glide__bullet--active {
    background-color: white;
}

.glide__arrow--right {
    right: 1em !important;
}

.glide__arrow--left {
    left: 1em !important;
}
